<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Check Health</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOgitf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="disease.css">
</head>
<body>
<div class="jumbotron">
    <h1 class="display-4">Heart disease</h1>
    <hr class="my-4">

    <div>
        <img src="./img/heart-disease.jpg" style="width: auto; height: 200px; display: inline;" alt="">
        <div class="lead">Heart disease describes a range of conditions that affect your heart.
            Diseases under the heart
            disease umbrella
            include blood vessel diseases, such as coronary artery disease; heart rhythm problems (arrhythmias); and
            heart
            defects you're born with (congenital heart defects), among others.
            <br/>
            <br/>
            The term "heart disease" is often used interchangeably with the term
            "cardiovascular disease." Cardiovascular
            disease generally refers to conditions that involve narrowed or blocked blood vessels that can lead to a
            heart
            attack, chest pain (angina) or stroke. Other heart conditions, such as those that affect your heart's
            muscle,
            valves
            or rhythm, also are considered forms of heart disease.
        </div>
    </div>
    <hr class="my-4">
    <div class="row" style="text-align: center; margin: 0 auto;">
        <div class="col-5" style="text-align: center; border: 1px solid black; padding: 30px 0;">
            <h3>We can predict your heart disease incidence!</h3>
            <a style="margin-top: 30px;" class="btn btn-primary btn-lg" href="#" role="button">PREDICTION</a>
        </div>
    </div>
    <div id="E_WRAP">
        <div id="FAQ" class="E_FAQ" style="background-color:white;">
            <div class="E_HeadLine">Types of Heart disease</div>
            <div class="E_TextArea">There are many types of heart disease that affect different parts of the organ and
                occur in different ways.
            </div>
            <div class="E_QList">
                <li>
                    <label class="E_Question1" for="E_Opener1">Congenital heart disease<span
                            class="E_plus">+</span></label>
                    <input class="E_Opener1" type="checkbox" id="E_Opener1">
                    <div class="E_Answer1">
                        This is a general term for some deformities of the heart that have been
                        present since birth. Examples include:
                        <br/>
                        Septal defects: There is a hole between the two chambers of the heart.
                        Obstruction defects: The flow of blood through various chambers of the heart is partially or
                        totally blocked.
                        Cyanotic heart disease: A defect in the heart causes a shortage of oxygen around the body.
                    </div>

                </li>
                <li>
                    <label class="E_Question2" for="E_Opener2">Arrhythmia<span
                            class="E_plus">+</span></label>
                    <input class="E_Opener2" type="checkbox" id="E_Opener2">
                    <div class="E_Answer2">Arrhythmia is an irregular heartbeat.<br/>
                        <br/>
                        There are several ways in which a heartbeat can lose its regular rhythm. These include:<br/>
                        <br/>
                        - tachycardia, when the heart beats too fast<br/>
                        - bradycardia, when the heart beats too slowly<br/>
                        - premature ventricular contractions, or additional, abnormal beats<br/>
                        - fibrillation, when the heartbeat is irregular<br/>
                        <br/>
                        Arrhythmias occur when the electrical impulses in the heart that coordinate the heartbeat do not<br/>
                        work properly. These make the heart beat in a way it should not, whether that be too fast,
                        too<br/>
                        slowly, or too erratically.<br/>
                        <br/>
                        Irregular heartbeats are common, and all people experience them. They feel like a fluttering
                        or<br/>
                        a racing heart. However, when they change too much or occur because of a damaged or weak
                        heart,<br/>
                        they need to be taken more seriously and treated.<br/>
                        <br/>
                        Arrhythmias can become fatal.<br/>
                    </div>

                </li>
                <li>
                    <label class="E_Question3" for="E_Opener3">Coronary artery disease<span
                            class="E_plus">+</span></label>
                    <input class="E_Opener3" type="checkbox" id="E_Opener3">
                    <div class="E_Answer3">The coronary arteries supply the heart muscle with nutrients and oxygen by
                        circulating blood.<br/>
                        <br/>
                        Coronary arteries can become diseased or damaged, usually because of plaque deposits that
                        contain cholesterol. Plaque buildup narrows the coronary arteries, and this causes the heart to
                        receive less oxygen and nutrients.
                    </div>

                </li>
                <li>
                    <label class="E_Question4" for="E_Opener4">Dilated cardiomyopathy<span E_plus>+</span></label>
                    <input class="E_Opener4" type="checkbox" id="E_Opener4">
                    <div class="E_Answer4">The heart chambers become dilated as a result of heart muscle weakness and
                        cannot pump blood properly. The most common reason is that not enough oxygen reaches the heart
                        muscle, due to coronary artery disease. This usually affects the left ventricle.
                    </div>

                </li>
                <li>
                    <label class="E_Question5" for="E_Opener5">Myocardial infarction<span
                            class="E_plus">+</span></label>
                    <input class="E_Opener5" type="checkbox" id="E_Opener5">
                    <div class="E_Answer5">This is also known as a heart attack, cardiac infarction, and coronary
                        thrombosis. An interrupted blood flow damages or destroys part of the heart muscle. This is
                        usually caused by a blood clot that develops in one of the coronary arteries and can also occur
                        if an artery suddenly narrows or spasms.

                    </div>

                </li>
                <li>
                    <label class="E_Question6" for="E_Opener6">Heart failure<span class="E_plus">+</span></label>
                    <input class="E_Opener6" type="checkbox" id="E_Opener6">
                    <div class="E_Answer6">Also known as congestive heart failure, heart failure occurs when the heart
                        does not pump blood around the body efficiently.<br/>
                        <br/>
                        The left or right side of the heart might be affected. Rarely, both sides are. Coronary artery
                        disease or high blood pressure can, over time, leave the heart too stiff or weak to fill and
                        pump properly.

                    </div>

                </li>
                <li>
                    <label class="E_Question7" for="E_Opener7">Hypertrophic cardiomyopathy<span class="E_plus">+</span></label>
                    <input class="E_Opener7" type="checkbox" id="E_Opener7">
                    <div class="E_Answer7">This is a genetic disorder in which the wall of the left ventricle thickens,
                        making it harder for blood to be pumped out of the heart. This is the leading cause of sudden
                        death in athletes. A parent with hypertrophic cardiomyopathy has a 50 percent chance of passing
                        the disorder on to their children.
                    </div>
                </li>
                <li>
                    <label class="E_Question8" for="E_Opener8">Mitral regurgitation<span class="E_plus">+</span></label>
                    <input class="E_Opener8" type="checkbox" id="E_Opener8">
                    <div class="E_Answer8">Also known as mitral valve regurgitation, mitral insufficiency, or mitral
                        incompetence, this occurs when the mitral valve in the heart does not close tightly enough. This
                        allows blood to flow back into the heart when it should leave. As a result, blood cannot move
                        through the heart or the body efficiently.<br/>
                        <br/>
                        People with this type of heart condition often feel tired and out of breath.
                    </div>
                </li>
                <li>
                    <label class="E_Question9" for="E_Opener9">Mitral valve prolapse<span
                            class="E_plus">+</span></label>
                    <input class="E_Opener9" type="checkbox" id="E_Opener9">
                    <div class="E_Answer9">The valve between the left atrium and left ventricle does not fully close, it
                        bulges upwards, or back into the atrium. In most people, the condition is not life-threatening,
                        and no treatment is required. Some people, especially if the condition is marked by mitral
                        regurgitation, may require treatment.
                    </div>
                </li>
                <li>
                    <label class="E_Question10" for="E_Opener10">Pulmonary stenosis<span class="E_plus">+</span></label>
                    <input class="E_Opener10" type="checkbox" id="E_Opener10">
                    <div class="E_Answer10">It becomes hard for the heart to pump blood from the right ventricle into
                        the pulmonary artery because the pulmonary valve is too tight. The right ventricle has to work
                        harder to overcome the obstruction. An infant with severe stenosis can turn blue. Older children
                        will generally have no symptoms.<br/>
                        <br/>
                        Treatment is needed if the pressure in the right ventricle is too high, and a balloon
                        valvuloplasty or open-heart surgery may be performed to clear an obstruction.
                    </div>
                </li>
            </div>
        </div>
    </div>
</div>

</body>
</html>