@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

label{
	font-size: 25px;
}

#explain{
	font-family: 'Hanna', serif;
	background-color: white;
	border-radius: 10px;
	font-size: 1.2em;
}

#explain2{
	font-family: 'Hanna', serif;
	font-size: 20px;
	border-radius: 10px;
}

#inputGroup{
	font-family: 'Hanna', serif;
}

#resultLabel{
	color: grey;
}

#textArea{
	font-size: 20px;
}