.summary {
    padding-bottom: 20px;
}

#explain1 {
    font-size: 1.3em;
    background-color: white;
    border-radius: 10px;
    margin-left: 40px;
    padding: 20px;
}

.graph {
    text-align: center;
    padding-bottom: 20px;
}

#explain2 {
    padding: 20px;
}

#explain2 h2 {
    text-align: center;
}

#explain2 ul {
    font-size: 1.2em;
    list-style: square;
}

#explain2 ul li {
    font-size: 1.2em;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tabs label {
    width: 50%;
    order: 1;
    display: block;
    padding: 10px 0px;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
    background: #838487;
    font-weight: bold;
    transition: background ease 0.2s;
    /*border: solid 1px black;*/
    box-sizing: border-box;
}

/*박스배경*/
.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: white;
}

.tabs input[type="radio"] {
    display: none;
}

/*탭 눌렀을때 컬러*/
.tabs input[type="radio"]:checked + label {
    background: white;
}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}